body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* nav bar  */
#nav-wrap {
  font: 15px 'opensans-bold', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #3a3939;
}

ul#nav {
  min-height: 48px;
  width: auto;

  /* center align the menu */
  text-align: center;
}

ul#nav li a {

  /* 8px padding top + 8px padding bottom + 32px line-height = 48px */
  
     display: inline-block;
     padding: 10px 15px;
     line-height: 32px;
     text-decoration: none;
     text-align: left;
     color: #fff;
     font-weight: 600;
  
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
  }

.nav-item > .active {
  color: #00aced !important;
}

.nav-item > a:hover{
  color: #F06000 !important;
  cursor: pointer;
}

.nav-item {}

#nav-wrap ul, #nav-wrap li, #nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}


.row-home {
  width: 95%;
  max-width: 1020px;
  margin: 0 auto;
}


/* row clearing */
.row-home::before,
.row-home::after {
    content: " ";
    display: table;
}
.row-home::after {
    clear: both;
}

header {
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
  text-align: center;
}

header::before {
  content: '';
  display: inline-block; 
  vertical-align: middle;
  height: 100%;
}

header .banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 30px;
  text-align: center;
} 

header .banner-text {
  width: 100%;
}

header .banner-text h1 {
  font: 70px 'opensans-bold', sans-serif;
  color: #262626;
  letter-spacing: -2px;
  margin-bottom:20px;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
}

header .banner-text h3 {
  font: 25px 'librebaskerville-regular', sans-serif;
  color: #262626;
  margin: 0 auto;
  width: 70%;
  margin-top: 20px;
  display: inline-block;
}

/* about section */
#about { 
  background-color: #262626;
  padding-top: 5%;
  padding-bottom: 5%;
}

#about h2 {
  font: 22px/30px 'opensans-bold', sans-serif;
  color: #fff;
  margin-bottom: 12px;
  font-weight: 600;
}

#about p {
  line-height: 30px;
  color: #7A7A7A;
}

.profile-pic {
  position: relative;
  width:150px;
  height: 150px;
  border-radius: 100%;
  display: block;
  margin-left: 60%;
  margin-right: auto;
}

/* projects section  */
#projects {
  padding-top: 5%;
  padding-bottom: 5%;
}

#projects .title {
  font: 18px/24px 'century gothic', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  margin-left: 60%;
}

#projects h2 {
  font: 25px/30px 'opensans-regular', sans-serif;
}

#projects .date {
  font: 16px/24px 'opensans-regular', sans-serif;
  font-style: italic;
  color: #666;
  font-weight: bold;
}

#projects .info {
  font: 16px/24px 'librebaskerville', sans-serif;
  color: #666;
  margin-bottom: 115px;
  margin-top: 9px;
}

#projects li {
  line-height: 35px;
  margin-left: -10px;
}

#projects .repo{
  color: inherit;
  border-bottom: 3px solid #11ABB0;
  padding-bottom: 6px;
}

#projects .repo:hover {
  border-bottom: none;
}

#projects a {
  color: inherit;
}

#projects a:hover {
  text-decoration: none;
}

/* mess around with this later  */
@media (max-width: 980px) {
  .profile-pic { display: none;}
}
